@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700italic);
@import url(https://fonts.googleapis.com/css?family=Sansita+One);

html {
    background-color: #fff;
    background: url(../img/bg.png) no-repeat center center fixed;
    background-size: cover;
}
body{
    background-color: transparent;
}
a {
    transition: all .5s ease;
}
body > .container-fluid {
    margin: 70px 10px 5px 10px;
    background-color: rgba(188,211,236,.8);
    min-height: 882px;
    padding: none;
    overflow-y: auto;
}
.navbar-fixed-top {
    font-size: 22px;
}
.navbar-brand {
    height: 55px;
    width: auto;
    padding: 3px 25px 2px 25px;
}
.navbar-ul {
    padding-right: 30px;
}
.footer {
    bottom: 7px;
    width: 100%;
    position: fixed;
    min-height: 50px;
    background-color: rgba(98,157,223,.8);
}
.footer-ul {
    list-style-type: none;
    margin-top: 5px;
    width: 100%;
}
.footer-li{
    display: inline;
	padding: 10px;
    color: #fff;
    font-size: 20pt;
    text-decoration: none;
}
#flag {
    display: block;
    margin-top: 13px;
    margin-left: 40px;
    width: 40px;
}
.info{
    margin-top: 2px;
    color: #fff;
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-size: 12pt;
    text-align: center;
}
a.footer-a {
    color: #fff;
}
a.footer-a:hover {
    color: rgb(255,166,30);
    text-decoration: none;
}

.button-confirm {
    padding: 5px;
    padding-left: 25px;
    border: 2px solid rgba(5,112,232,.7);
    background: rgba(188,211,236,.2) url(../img/tick.png) no-repeat scroll 5px center;
    border-radius: 8px;
}
.button-confirm:hover{
    background: rgba(5,112,232,.7) url(../img/tick.png) no-repeat scroll 5px center;
    color: rgb(255,166,30);
    font-style: bold;
}
.button-confirm:active, .button-confirm:focus, .button-cancel:focus {
    border: 3px solid rgb(255,166,30);
    outline: none;
}
.button-cancel {
    padding: 5px;
    padding-left: 25px;
    border: 2px solid rgba(5,112,232,.7);
    background: rgba(188,211,236,.2) url(../img/cross.png) no-repeat scroll 5px center;
}
.button-cancel:hover{
    background: rgba(5,112,232,.7) url(../img/cross.png) no-repeat scroll 5px center;
    color: rgb(255,166,30);
    font-style: bold;
}
.button-cancel:active {
    border: 3px solid rgb(255,166,30);
}
.imgClasse{
    width: 100%;
    height: auto;
    position:relative;
    display:inline-block;
}

/* --------- Form Page --------- */
.div-right{
    width: auto;
    height: auto;
	top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    position: absolute;
    overflow-y: auto;
}
.div-left{
    width: auto;
    height: auto;
	top: 125px;
    left: 25px;
    right: 50%;
    position: absolute;
    overflow-y: auto;
}
.table-form{
    border-style: none;
    background: -webkit-radial-gradient(rgba(5,112,232,.5), rgba(5,112,232,0)); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(rgba(5,112,232,.5), rgba(5,112,232,0)); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(rgba(5,112,232,.5), rgba(5,112,232,0)); /* For Firefox 3.6 to 15 */
    background: radial-gradient(rgba(5,112,232,.5), rgba(5,112,232,0)); /* Standard syntax */
}
.table-form th{
    column-fill:100%;
}
.table-form-popup{
    border-style: none;
    background-color: rgba(0,0,0,0);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#regForm label{
    display: inline-block;
    width: 200px;
    text-align: right;
}
.error{
    display: none;
    margin-left: 10px;
}
.error_show{
    color: #d51010;
    font-size: 80%;
    vertical-align: baseline;
    line-height: 0;
    position: relative;
    top: 0.1em;
    background-color: rgba(5,112,232,.15);
}
input {
    border: 1px solid rgba(255,166,30,.7);
}
input:focus{
    outline: none;
    border: 1px solid rgba(255,166,30,.7) !important;
    background-color : #fff !important;
}
::-webkit-input-placeholder {
   color: rgba(5,112,232,.4);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(5,112,232,.4);
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(5,112,232,.4);
}

:-ms-input-placeholder {
   color: rgba(5,112,232,.4);
}
input.invalid {
    border: 2px solid red;
    background-color : #FFC7C7;
}
input.valid {
    border: 2px solid rgb(35,180,35);
    background-color : #CAFFC7;
}
.table-logged {
    width: 100%;
    height: auto;
    text-align: center;
    border-collapse: collapse;
}
.table-logged tr, .table-logged td {
    border: 1px solid rgba(0,0,0,.3);
}
.table-logged tr:nth-child(odd) {
    background-color: rgba(255,255,255,.4);
}
.table-logged tr:nth-child(even) {
    background-color: rgba(5,112,232,.1);
}
.table-logged th{
    background: -webkit-linear-gradient(top, rgba(5,112,232,.8), rgba(188,211,236,.5)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(5,112,232,.8), rgba(188,211,236,.5)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(5,112,232,.8), rgba(188,211,236,.5)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to top, rgba(5,112,232,.8), rgba(188,211,236,.5)); /* Standard syntax */
}
a.table-logged-icon:hover {
    text-decoration: none;
    background-color: rgba(0,0,0,0);
}

/* --------- IDs --------- */
#pdfReader{
    width: 100%;
    min-height: inherit;
    border-style: none;
    display: block;
}
#end{
    text-align: center;
    color: green;
}

/* --------- Scroll Bar --------- */
::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    background-color: rgba(188,211,236,.4);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,.7);
}
::-webkit-scrollbar-thumb {
    background: rgba(43,129,226,.5);
    /*-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);*/
    border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(43,129,226,.8);
}
::-webkit-scrollbar-thumb:active{
    background: #024794;
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(43,129,226,.2);
}
